/* Download attachments */
.download-attachments .download-title {
    padding-bottom: 0.5em;
}

.download-attachments table { 
	border-collapse: 
	collapse; border-spacing: 0;
	background-color: transparent;
	width: 100%; max-width: 100%;
}

.download-attachments div a,
.download-attachments ul a,
.download-attachments table a {
	text-decoration: none;
	border: none;
}

.download-attachments table td,
.download-attachments table th { 
	padding: 8px; 
	line-height: 1.6; 
	vertical-align: top; 
	border-top: 1px solid #ddd; 
	text-align: left;
}

.da-attachments-list {
	list-style: none;
}